

*{
	padding: 0;
	margin: 0;
}
a { color: inherit; 
text-decoration:none} 
h3
{
	font:Bold 19px "Arial";
	
	
}
h1
{
	font:Bold 40px "Tahoma";
	
	width:800px;
}
h2{
font:Bold 25px "Verdana";
}
h5{
margin-top:10px;
	font: 13px "Verdana";
}

header, nav, section, aside, footer{
	display: block;
}
p{
	letter-spacing: 1px;
}

body{
	width: 100%;
	display: -webkit-box;
	-webkit-box-pack:center;
	background-image :url('../img/bg.jpg');
	background-size:100%;
	background-position: center;
	background-repeat:no-repeat;
	background-attachment:fixed;
	
}

#big_wrapper{
	
	
	
	display: -webkit-box;
	background: white;
	-webkit-box-orient:vertical;
	-webkit-box-flex:12;
}
#all{
	color:blue;
	font: 12px "Verdana";
	text-align:right;
}
#top_header{
	color: white;
	height: 50px;
	box-shadow: 0px 0px 0px black;
	border:.5px  solid gray; 
	background-image :url('../img/2.png');
	background-size:100%;
	background-repeat:no-repeat;
	padding-left: 160px;
	padding-top: 15px;
	padding-bottom:10px;
	
}
#main_nav{
	padding-left:150px;
	padding-right:190px;

	background:#F3F2FA;
	color: #505755;
	border-radius: 2px 2px 2px 2px;
	margin-bottom: 10px;
	
	margin-top: 0px;
	
}
#main_nav li{
	list-style: none;
	display: inline-block;
	font:  15px "Verdana";
	padding-left: 12px;
	padding-right: 20px;
	padding-top:5px;
	padding-bottom: 10px;
	width: auto;	
}


#main_nav li:hover {
	background: -webkit-linear-gradient(#A8B5B1 100%0%, #A8B5B1 100%);
	background: -o-linear-gradient(#A8B5B1 100%%, #A8B5B1 100%);
	background: linear-gradient(#A8B5B1 100%, #A8B5B1 100%);
	color:white;
	text-shadow: 0px 0px 0px black;
	cursor: pointer;
}

#small_wrapper{
	border:0px solid #F312FA;
	display: -webkit-box;
	padding-left:10px;
	-webkit-box-orient:horizontal;
	
	background: #FFFFFF;
	padding-top: 15px;
	margin-left:150px;
	margin-right:190px;

}


.main_section{
	
	color:#505755; 
	padding: 10px 10px 10px 10px;
	border:0px solid black;
	width:600px;
	margin-bottom: 110px;
	font:  13px "Verdana";
	
}
.main_section2{
	color:#505755; 
	
	border:0px solid black;
	width:250px;
	margin-bottom: 110px;
	margin-left:30px;
	font:  13px "Verdana";
	border:0px solid #F3a2Ff;
	
	
}
.gamingsec{
	color:#505755; 
	
	border:0px solid black;
	
	margin-bottom: 110px;
	margin-left:0px;
	font:  13px "Verdana";
	border:0px solid #F3a2Ff;
	
	
}
#gameright{
	margin-left: 550px;
	margin-top: 20px;
}
#gamecon{
	font: 16px "Helvetica";
	
}
.main_section3{
	
	
	border:0px solid black;
	width:650px;
	margin-bottom: 60px;
	margin-right: 10px;
	padding-bottom:50px;
	font:  13px "Verdana";
}
.main_section4{
	color:#505755; 
	
	border:0px solid black;
	width:650px;
	margin-bottom: 50px;
	margin-right: 10px;
	padding-bottom:50px;
	font:  13px "Verdana";
	
}
#img{
	width: 190px;
	height:128px;
	margin-top: 20px;

	margin-right: 25px;
	float: left;
	
}
#label{
	font: Bold 14px  "Verdana";
	text-align:center;
	margin-bottom:5px;
}
.star-ratings-sprite {
  background: url('../img/star-rating-sprite.png') repeat-x;
  font-size: 0;
  height: 20px;
  line-height: 0;
  overflow: hidden;
  text-indent: -999em;
  width: 110px;
  margin: 0 auto;
  }
 .rating {
    background: url('../img/star-rating-sprite.png') repeat-x;
    background-position: 0 100%;
    float: left;
    height: 21px;
    display:block;
  }
  

#caption{
	padding-top: 12px;
	width:800px;
	margin-left: 25px;
	margin-bottom:12px;
}
#bt{
	text-align:center;
	margin-top:2px;
	  margin-bottom: 40px;
}



video{
	max-width: 100%;
}
#gaming{
	margin-top:20px;
	float: left;
	
}


#news{
	font: 15px "Verdana";
	color: #005689;
	margin-top:10px;
	margin-bottom:5px;
}
#newscontent{
	font: 13px "Verdana";
	margin-bottom:20px;
	
}

#revcontent{
	margin-bottom:30px;
	font: 14px "Verdana";
}
#bottom_footer{
	border-top:1px solid #056339;
	background:#D9DBD5;
	text-align: center;
	margin-top: 20px;
	padding: 10px;
	color: #505755;
}














